
@media (min-width: 1600px){

    .goals{
        align-items: center;
        .goals__inner{
            max-width: 1400px;
            .goals__block{
                margin: 0 40px;
            }
        }
    }

}
@media (max-width:1550px){
    
    .goals{
        .goals__inner{
            margin-left: 10%;
            margin-right: 10%;
        }
    }
}

@media (max-width:1350px){
    
    .goals{
        .goals__inner{
            margin-left: 3%;
            margin-right: 3%;
        }
    }
    .welcome{
        .welcome__title{
            margin-left: 200px;
        }
    }
}

@media (max-width:1250px){
    .header{
        .menu-background{

            .header__menu{ 
                .nav-menu{
                    font-size: 30px;
                }
                .nav-menu:first-child{
                    margin-left: 150px;
                }
                .nav-menu:last-child{
                    margin-right: 150px;
                }
                .logo{
                    &__img{
                        width: 80%;
                    }
                }
            }    
        }
    }
    .history{
        .history__inner{
            .history__img{
                margin-right: 2%;
            }
            .history__text{
                margin-left: 2%;
            }
            .history__img--2{
                margin-left: 2%;
            }
            .history__text--2{
                margin-right: 2%;
            }
        }
    }
    .social{
        .social__ada{
            .social__img{
                width: 480px;
            }
        }
    }
}

@media (max-width:1150px){

    .description__ada{
     
        .description__img{
            .ada__img{
                
                width: 300px;
            }
        }
    }

    .goals{

        .goals__inner{
            margin-left: 2%;
            margin-right: 2%;
        
            .goals__block{
                width: 220px;
                height: 300px;
            }
        }
    }
    .history{
        .history__inner{
            .history__img{
                margin-right: 1%;
                .img__league{
                    width: 350px;
                }
            }
            .history__text{
                margin-left: 1%;
            }
            .history__img--2{
                margin-left: 1%;
                .img__league-2{
                   width: 400px; 
                }
            }
            .history__text--2{
                margin-right: 1%;   
            }
        }
    }
    .welcome{
        .welcome__title{
            margin-left: 100px;
        }
        .weclome__inner{
            margin-top: 50px;
            .welcome__text{
                margin-left: 0px;
            }
            .welcome__gif{
                top:180px;
                right: 5%;
                .ada__gif{
                    width: 180px;
                }
            }
        }
    }
}

@media (max-width:1050px){
    
    .header{
        
        .menu-background{

            .header__menu{ 
                .nav-menu:first-child{
                    margin-left: 100px;
                }
                .nav-menu:last-child{
                    margin-right: 100px;
                }
            }    
        }
        
        .header_inner{
            .header__link{
                .header__img{
                    width: 80%;
                }
            }    
        }
    }
    .cription__ada{
        .description__img{
            .ada__img{
                width: 300px;
            }
        }
    }
    .goals{
        .goals__title{
            padding-bottom: 30px;
        }
        .goals__inner{
            margin-left: 2%;
            margin-right: 2%;

            display: flex;
            flex-wrap: wrap;
        
            .goals__block{
                width: 40%;
                height: 300px;

                margin-top: 20px;
                margin-left: 5%;
                margin-right: 5%;
            }
        }
    }
    .history{
        .history__inner{
            .history__img{
                margin-right: 1%;
                .img__league{
                    width: 320px;
                }
            }

            .history__text{
                min-width: 500px;
                margin-left: 0%;
                font-size: 20px;
            }
            

            .history__img--2{
                margin-left: 0%;
                .img__league-2{
                width: 320px; 
                }
            }
            .history__text--2{
                font-size: 20px;
                min-width: 500px;
                margin-right: 0%;
            }
        }
    }
    
    .welcome{
        .welcome__title{
            margin-left: 100px;
        }
        .weclome__inner{
            margin-top: 0px;

            .welcome__video{
                margin-top: 50px;
                .ada__video{
                    object-fit: contain;
                }
            }
            .welcome__text{
                width: 700px;
                margin-left: 0px;
            }
            .welcome__gif{
                top:250px;
                right: 5%;
                .ada__gif{
                    width: 180px;
                }
            }
        }
    }
}

@media (max-width:850px){

    .header{
        .header_inner{
            .header__link{
                .header__img{
                    width: 80%;
                }
            }    
        }
    }
    .description__ada{
        .description__inner{
            margin: 0 0;
            padding-left: 30px;
            padding-right: 30px;
        }
        .description__img{
            .ada__img{
                width: 300px;
            }
        }
    }
    .history{
        .history__inner{
            .history__img{
                .img__league{
                    width: 250px;
                }
            }
            .history__text{
                min-width: 400px;
                font-size: 16px;
            }
            .history__img--2{
                .img__league-2{
                width: 250px; 
                }
            }
            .history__text--2{
                font-size: 16px;
                min-width: 400px;
            }
        }
    }
    .cooperation{
        .cooperation__item{
            .cooperation__block{
                margin-top: 50px;
                width: 33.3333%;
                
                .cooperation__link{
                    .cooperation__logo--1{
                        width: 150px;
                    }
                    .cooperation__logo--2{
                        width: 200px;
                        padding-bottom: 0px;
                    }
                    .cooperation__logo--3{
                        width: 150px;
                    }
                    .cooperation__logo--4{
                        width: 150px;
                    }
                    .cooperation__logo--5{
                        width: 80px;
                    }
                }
            }
        }
    }
    .social{
        .social__link{
            .media__link{
                .vkontakte{
                    width:45px;
                }
                .instagram{
                    width: 40px;
                }
                .youtube{
                    width: 55px;
                }
            }
        }
        .social__ada{
            .social__img{
                width: 400px;
            }
        }
    }
    .welcome{
        .welcome__title{
            margin-left: 100px;
        }
        .weclome__inner{
            margin-top: 0px;

            .welcome__video{
                margin-top: 50px;
                .ada__video{
                    width: 250px;
                    object-fit: contain;
                }
            }
            .welcome__text{
                font-size: 14px;
            }
            .welcome__gif{
                top:250px;
                right: 5%;
                .ada__gif{
                    width: 180px;
                }
            }
        }
    }
}

@media (max-width: 700px){
    .header{
        .menu-background{

            .header__menu{ 
                .nav-menu{
                    font-size: 24px;
                }
                .nav-menu:first-child{
                    margin-left: 50px;
                }
                .nav-menu:last-child{
                    margin-right: 50px;
                }
                .logo{
                    &__img{
                        width: 60%;
                    }
                }
            }    
        }
    }
    .description__ada{
        .description__inner{
            margin: 0 0;
            padding-left: 30px;
            padding-right: 30px;

            .description__title{
                font-size: 28px;
            }
            .description__text{
                padding-top: 20px;
                font-size: 14px;
            }
            .description__button{
                padding: 20px 36px;
                font-size: 12px;
                margin: 2px 1px;
            }
        }
        .description__img{
            .ada__img{
                width: 250px;
            }
        }
    }
    .goals{
        .goals__title{
            font-size: 30px;
        }
        .goals__inner{
            .goals__block{
                height: 250px;
                .goals__text{
                    font-size: 12px;
                    .goals_img_1{
                        margin-top: 40px;
                        width: 60px;
                    }
                    .goals_img_2{
                        margin-top: 30px;
                        width: 50px;
                    } 
                    .goals_img_3{
                        margin-top: 65px;
                        width: 60px;
                    }
                    .goals_img_4{
                        margin-top: 80px;
                        width: 70px;
                    }
                }
    
            }
        }
    }
    .history{
        .history__inner{
            .history__img{
                .img__league{
                    width: 200px;
                }
            }
            .history__text{
                min-width: 0px;
                font-size: 12px;
                margin-left: 10px;
                .history__title{
                    font-size: 26px;
                }
            }
            .history__img--2{
                .img__league-2{
                width: 200px; 
                }
            }
            .history__text--2{
                font-size: 12px;
                min-width: 0px;
                margin-right: 10px;
            }
        }
    }
    .cooperation{
        .cooperation__title{
            font-size: 30px;
        }
        .cooperation__item{
            .cooperation__block{
                margin-top: 50px;
                width: 33.3333%;
                
                .cooperation__link{
                    .cooperation__logo--1{
                        width: 100px;
                    }
                    .cooperation__logo--2{
                        width: 150px;
                        padding-bottom: 0px;
                    }
                    .cooperation__logo--3{
                        width: 100px;
                    }
                    .cooperation__logo--4{
                        width: 110px;
                    }
                    .cooperation__logo--5{
                        width: 60px;
                    }
                }
            }
        }
    }
    .social{
        .social__title{
            font-size: 30px;
        }
        .social__text{
            font-size: 12px;
        }
        .social__link{
            .media__link{
                .vkontakte{
                    width:35px;
                }
                .instagram{
                    width: 30px;
                }
                .youtube{
                    width: 42px;
                }
            }
        }
        .social__ada{
            .social__img{
                width: 300px;
            }
        }
    }
    .welcome{
        .welcome__title{
            font-size: 30px;
            text-align: center;
            margin-left: 0;
        }
        .weclome__inner{
            flex-direction: column;
            justify-content: center;
            text-align: center;
            .welcome__video{
                margin-top: 50px;
                .ada__video{
                    width: 200px;
                    object-fit: contain;
                }
            }
            .welcome__text{
                font-size: 14px;
                text-align: left;
                margin-left: 20px;
                margin-right: 20px;
                max-width: 400px;
            }
            .welcome__gif{
                
                bottom:0;
                right: 0;
                .ada__gif{
                    width: 100px;
                }
            }
        }
    }
}

@media (max-width: 520px){

    .header{
        max-height: 450px;
        .menu-background{

            .header__menu{ 
                height: 70px;
                .nav-menu{
                    font-size: 20px;
                }
                .nav-menu:first-child{
                    margin-left: 30px;
                }
                .nav-menu:last-child{
                    margin-right: 30px;
                }
                .logo{
                    &__img{
                        width: 40%;
                        margin-left: 50px;
                    }
                }
            }    
        }
        .header_inner{
           .header_text{
                padding-top:20px;
                font-size: 20px;
            }
        }
    }    
    .description__ada{
        max-height: 450px;
        .description__inner{
            padding-left: 20px;
            padding-right: 20px;

            .description__title{
                font-size: 20px;
            }
            .description__text{
                font-size: 10px;
            }
            .description__button{
                padding: 12px 24px;
                font-size: 10px;
                margin: 2px 1px;
            }
        }
        .description__img{
            .ada__img{
                width: 150px;
            }
        }
    }
    .goals{
        min-height: 0px;
        max-height: 550px;
        .goals__title{
            font-size: 20px;
        }
        .goals__inner{
            .goals__block{
                height: 200px;
                .goals__text{
                    h4{
                        font-size: 14px;
                    }
                }
                .goals__text{
                    font-size: 10px;
                    .goals_img_1{
                        margin-top: 20px;
                        width: 45px;
                    }
                    .goals_img_2{
                        margin-top: 30px;
                        width: 38px;
                    } 
                    .goals_img_3{
                        margin-top: 20px;
                        width: 45px;
                    }
                    .goals_img_4{
                        margin-top: 35px;
                        width: 50px;
                    }
                }
    
            }
        }
    }
    .history{
        max-height: 350px;
        .history__inner{
            .history__img{
                .img__league{
                    width: 120px;
                }
            }
            .history__text{
                min-width: 0px;
                font-size: 10px;
                margin-left: 10px;
                .history__title{
                    font-size: 20px;
                }
            }
            .history__img--2{
                .img__league-2{
                width: 130px; 
                }
            }
            .history__text--2{
                font-size: 10px;
                min-width: 0px;
                margin-right: 10px;
            }
        }
    }
    .cooperation{
        max-height: 450px;
        min-height: 0px;
        .cooperation__title{
            font-size: 20px;
        }
        .cooperation__item{
            .cooperation__block{
                margin-top: 50px;
                width: 33.3333%;
                
                .cooperation__link{
                    .cooperation__logo--1{
                        width: 70px;
                    }
                    .cooperation__logo--2{
                        width: 110px;
                    }
                    .cooperation__logo--3{
                        width: 70px;
                    }
                    .cooperation__logo--4{
                        width: 80px;
                    }
                    .cooperation__logo--5{
                        width: 40px;
                    }
                }
            }
        }
    }
    .social{
        max-height: 450px;
        .social__title{
            font-size: 20px;
        }
        .social__text{
            font-size: 8px;
        }
        .social__link{
            .media__link{
                .vkontakte{
                    width:27px;
                }
                .instagram{
                    width: 24px;
                }
                .youtube{
                    width: 33px;
                }
            }
        }
        .social__ada{
            .social__img{
                width: 200px;
            }
        }
    }
    .welcome{
        max-height: 450px;
        .welcome__title{
            font-size: 20px;

        }
        .weclome__inner{
            .welcome__video{
                margin-top: 20px;
                .ada__video{
                    width: 150px;
                }
            }
            .welcome__text{
                font-size: 10px;
                text-align: left;
                margin-left: 10px;
                margin-right: 0px;
                max-width: 390px;
                margin-top: 20px;
                .welcome__link{
                    font-size: 12px;
                }
            }
            .welcome__gif{
               display: none;
                .ada__gif{
                    width: 80px;
                }
            }
        }
    }
}

@media (max-width:400px){
    .header{
        max-height: 350px;
        .menu-background{

            .header__menu{ 
                height: 70px;
                .nav-menu{
                    font-size: 20px;
                }
                .nav-menu:first-child{
                    margin-left: 20px;
                }
                .nav-menu:last-child{
                    margin-right: 20px;
                }
                .logo{
                    &__img{
                        width: 30%;
                        margin-left: 55px;
                    }
                }
            }    
        }
        .header_inner{
           .header_text{
                padding-top:20px;
                font-size: 14px;
            }
        }
    }    
    .description__ada{
        max-height: 350px;
        
        .description__inner{
            
            padding-left: 20px;
            padding-right: 20px;

            .description__title{
                font-size: 18px;
            }
            .description__text{
                font-size: 10px;
            }
            .description__button{
                padding: 12px 24px;
                font-size: 10px;
                margin: 2px 1px;
            }
        }
        .description__img{
            .ada__img{
                width: 120px;
            }
        }
    }
    .goals{
        min-height: 0px;
        max-height: 550px;
        .goals__title{
            font-size: 18px;
        } 
    }
    
    .history{
        max-height: 350px;
        .history__inner{
            .history__text{
                min-width: 0px;
                font-size: 8px;
                margin-left: 10px;
                .history__title{
                    font-size: 18px;
                }
            }
            .history__text--2{
                font-size: 8px;
                min-width: 0px;
                margin-right: 10px;
            }
        }
    }
    .cooperation{
        max-height: 350px;
        min-height: 0px;
        .cooperation__title{
            font-size: 18px;
        }
        .cooperation__item{
            .cooperation__block{
                margin-top: 10px;
                width: 33.3333%;
                
                .cooperation__link{
                    .cooperation__logo--1{
                        width: 70px;
                    }
                    .cooperation__logo--2{
                        width: 110px;
                        margin-bottom: 20px;
                    }
                    .cooperation__logo--3{
                        width: 70px;
                    }
                    .cooperation__logo--4{
                        width: 80px;
                    }
                    .cooperation__logo--5{
                        width: 40px;
                    }
                }
            }
        }
    }
    .social{
        max-height: 350px;
        .social__title{
            font-size: 18px;
        }
        .social__text{
            margin-top: 30px;
            font-size: 8px;
        }
        .social__link{
            margin-top: 30px;
        }
        .social__ada{
            .social__img{
                width: 200px;
            }
        }
    }
    .welcome{
        max-height: 350px;
        .welcome__title{
            font-size: 18px;

        }
        .weclome__inner{
            .welcome__video{
                margin-top: 20px;
                .ada__video{
                    width: 120px;
                }
            }
            .welcome__text{
                font-size: 8px;
                text-align: center;
                margin-left: 0px;
                margin-right: 0px;
               max-width: 360px;
                margin-top: 20px;
                .welcome__link{
                    font-size: 10px;
                }
            }
            .welcome__gif{
               display: none;
                .ada__gif{
                    width: 80px;
                }
            }
        }
    }
}

@media (max-height:450px){
    .header{
        min-height: 450px;
            .header__line{
                display: none;
            }
    }
    .description__ada{

        .description__img{
            .ada__img{
                width: 160px;
            }
        }
    }
    .social{
        max-height: 450px;
        
        .social__ada{
            .social__img{
                width: 300px;
            }
        }
    }
    .welcome{
        max-height: 450px;
        .welcome__title{
            margin-left: 0px;
            text-align: center;
        }
        .weclome__inner{
            margin-left: 20px;
            .welcome__video{
                margin-top: 20px;
                .ada__video{
                    width: 200px;
                }
            }
            
            .welcome__gif{
               display: none;
                .ada__gif{
                    width: 80px;
                }
            }
        }
    }
}
@media (max-height:380px){
   
    .header{
        .header__line{
            display: none;
        }
    }
    .welcome{
        min-height: 650px;
        
        .weclome__inner{
            margin-left: 20px;
            .welcome__text{
                min-width: 550px;
            }
        }
    }
}